In [1]:
# Dependencies
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import os

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\mattw\.wdm\drivers\chromedriver\win32\91.0.4472.19\chromedriver.exe] found in cache

In [3]:
#URL of page to be scraped
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
html = browser.html
soup = bs(html, 'html.parser')

In [5]:
news_title = soup.find('div', class_='content_title').text
news_p = soup.find('div', class_='article_teaser_body').text

print(news_title)
print(news_p)

NASA Adds Return Sample Scientists to Mars 2020 Leadership Team
The leadership council for Mars 2020 science added two new members who represent the interests of scientists destined to handle and study the first samples from Red Planet.

In [6]:
#URL of page to be scraped
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [7]:
browser.links.find_by_partial_text('FULL').click()

In [8]:
# Parse 
html = browser.html
soup = bs(html, 'html.parser')

In [9]:
partial_image_url = soup.find('img', class_='fancybox-image').get('src')
print(partial_image_url)

image/featured/mars1.jpg

In [10]:
print(url)

https://spaceimages-mars.com/

In [11]:
#Save complete url string for this image
featured_image_url = url + partial_image_url
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

In [12]:
#URL of page to be scraped
url = 'https://galaxyfacts-mars.com/'
browser.visit(url)

In [13]:
tables = pd.read_html(url)
print(tables)

[                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C,                       0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]

In [14]:
type(tables)

list

In [15]:
mars_df = tables[1]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [16]:
mars_df.columns=["Facts", "Mars"]
mars_df.set_index("Facts", inplace=True)
mars_df

                                               Mars
Facts
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [17]:
#Use Pandas to convert the data to a HTML table string
mars_df.to_html('table.html')

In [18]:
#URL of page to be scraped
url = 'https://marshemispheres.com/'
browser.visit(url)

In [19]:
# Parse 
html = browser.html
soup = bs(html, 'html.parser')

hemispheres = soup.find_all(class_='item')

In [20]:
partial_url = 'https://marshemispheres.com/'
hemisphere_image_urls = []

for x in hemispheres:
    title = x.find('h3').text
    full_img_url = partial_url + x.find('a')['href']
    response = requests.get(full_img_url)
    soup = bs(response.text, 'html.parser')
    img_url = soup.find('ul').li.a['href']
    hem_dict = {'title': title, 'img_url': partial_url + img_url}
    hemisphere_image_urls.append(hem_dict)

In [21]:
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]

In [22]:
browser.quit()